@media (max-width: 991px) {
    .page-container{
        overflow-x: hidden;
        position: relative;
    }
}
@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
}